<?xml version="1.0" encoding="UTF-8"?>

<menubar name="menubar">
	<menu name="file" text="Файл" mnemonic="Ф" enabled="true">
		<menuitem name="param" 		
				  text="Параметры"	
				  accelerator="O" 
				  enabled="false"	
				  class="" 
		/>
		
		<menuitem name="separator"/>
		
		<menuitem name="video" 		
				  text="Відео"	
				  accelerator="v" 
				  enabled="true"	
				  class="com.bpn.diplom.gui.listeners.MenuFileVideoListener" 
		/>
		
		<menuitem name="photo" 		
				  text="Фото"	
				  accelerator="F" 
				  enabled="true"	
				  class="com.bpn.diplom.gui.listeners.MenuFilePhotoListener" 
		/>
		
		<menuitem name="separator"/>
		
		<menuitem name="exit" 
				  text='Вихід'		
				  accelerator="Q" 
				  enabled="true"	
				  class="com.bpn.diplom.gui.listeners.SystemExitActionListener" 
		/>
	</menu>

	<menu name="user" text="Користувачі" enabled="true">
		<menuitem name="db" 		
				  text="База данних"	
				  accelerator="D" 
				  enabled="true"	
				  class="com.bpn.diplom.gui.listeners.MenuDBContent" />
		<menuitem name="separator"/>
		
	</menu>
	
	<menu name="show" text="Демонстрація" enabled="true">
		<menuitem name="eyeDetect" 		
				  text="Детекція обличчя"	
				  accelerator="E" 
				  enabled="true"	
				  class="com.bpn.diplom.gui.listeners.MenuShowDetection" 
		/>
	</menu>
	
	<menu name="window" text="Вікна" enabled="true">
		<menuitem name="closeAll" 		
				  accelerator="W"
				  text="Закрити всі"	
				  enabled="true"	
				  class="com.bpn.diplom.gui.listeners.MenuWindowCloseAll" 
		/>
		<menuitem name="minimizeAll" 		
				  text="Згорнути всі"	
				  enabled="true"	
				  class="com.bpn.diplom.gui.listeners.MenuWindowMinimizeAll" 
		/>
		<menuitem name="maximizeAll" 		
				  text="Розгорнути всі"	
				  enabled="true"	
				  class="com.bpn.diplom.gui.listeners.MenuWindowMaximizedAll" 
		/>
		<menuitem name="closeMinimize" 		
				  text="Закрити усі згорнуті"	
				  enabled="true"	
				  class="com.bpn.diplom.gui.listeners.MenuWindowCloseMinimize" 
		/>
		<menuitem name="closeMaximize" 		
				  text="Закрити усі розгорнуті"	
				  enabled="true"	
				  class="com.bpn.diplom.gui.listeners.MenuWindowCloseMaximized" 
		/>
	</menu>
</menubar>

